*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#377771 ;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.5vmin;
    flex-wrap: wrap;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color:#C8D5B9;
    color: white;
}

.reset{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    width:6rem;
    font-weight: bold;
}

#new-btn{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    width:6rem;
    font-weight: bold;
}

#msg{
    color: white;
    font-size: 50px;
   
}

.msg-container{
    height:100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}
